body{
    margin: 0;
}
.a{
    display: flex;
    background-color: black;
    height: 5vh;
}

header{
    display: flex;
    background-color: black;
    flex-basis: 100vw;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
.img_logo{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

nav{
    display: flex;
    flex-basis: 100%;
    justify-content: space-evenly;
    background-color: black;
}
nav p{
    display: flex;
    color: white;
    font-weight: bolder;
}

.head{
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    height:auto;
    object-fit: fill;
    position: relative;
}
.head img{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}
.h1{
    background-color: rgb(0, 255, 0);
    position: absolute;
    
}
.contenedor_1{
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    background-color: rgb(255, 255, 255);
    justify-content: space-evenly;
    align-items: center;
    height: auto;
}

.caja1_1{
    display: flex;
    width: 95vw;
    background-color: rgb(23, 196, 34);
    height: 50vh;
    margin: 20px;
}
.caja1_2{
    display: flex;
    width: 95vw;
    background-color: rgb(131, 209, 29);
    height: 50vh;
    margin: 20px;
}

.caja1_3{
    display: flex;
    width: 95vw;
    background-color: rgb(209, 29, 134);
    height: 50vh;
    margin: 20px;
}
/**/

.contenedor_2{
    display: flex;
    justify-content: space-evenly;
    flex-basis: 100%;
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
    height: 250px;
}
.caja2_1{
    display: flex;
    flex-basis: 13%;
    flex-shrink: 0;
    background-color: rgb(23, 196, 34);
    height: 150px;
    margin: 20px;
}
.caja2_2{
    display: flex;
    flex-basis: 13%;
    flex-shrink: 0;
    background-color: rgb(131, 209, 29);
    height: 150px;
    margin: 20px;

}

.caja2_3{
    display: flex;
    flex-basis: 13%;
    flex-shrink: 0;
    background-color: rgb(209, 29, 134);
    margin: 20px;
    height: 150px;
}

.caja2_4{
    display: flex;
    flex-basis: 13%;
    flex-shrink: 0;
    background-color: rgb(23, 196, 34);
    margin: 20px;
    height: 150px;
}
.caja2_5{
    display: flex;
    flex-basis: 13%;
    flex-shrink: 0;
    background-color: rgb(131, 209, 29);
    margin: 20px;
    height: 150px;
}

.caja2_6{
    display: flex;
    flex-basis: 13%;
    flex-shrink: 0;
    background-color: rgb(209, 29, 134);
    margin: 20px;
    height: 150px;
}

.contenedor_3{
    display: flex;
    flex-basis: 100%;
    background-color: rgb(19, 29, 121);
    height: 400vh;
}
/*Media querys*/
/*Ajustar tamaño imagen del logo*/
@media screen and (max-width: 1004px) {
    .img_logo img {
        width: 70%;
    }
    .contenedor_1{
        flex-direction: column;
    }
    .contenedor_2{
        height: 35vh;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .contenedor_2 *{
        flex-basis: 100px;
    }
}
@media screen and (max-width: 840px) {
    .contenedor_2{
        height: 45vh;
    }
    .contenedor_2 *{
        flex-basis: 200px;
    }
}
@media screen and (max-width: 720px) {
    .contenedor_2{
        height: 70vh;
    }
}
@media screen and (max-width: 480px) {
    .contenedor_2{
        height: 85vh;
    }
    .contenedor_2 *{
        flex-basis: 150px;
    }
}