body{
    margin: 0;
    background-color: #ffffff;
}
.a{
    display: flex;
    background-color: black;
    height: 5vh;
    width: 100%;
}
p{
    margin: 0%;
}
* {
    font-family: 'Oswald', sans-serif;
}

/*PARTE HEADER, HECHO*/
header{
    display: flex;
    background-color: black;
    flex-basis: 50vw;
    height: auto;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0; 
    z-index: 1000; 
}
header img{
    width: 30%;
    height: 8vh;
    object-fit: contain;
    display: block;
}
nav{
    display: flex;
    flex-basis: 100%;
    height: auto;
    justify-content: space-evenly;
    background-color: black;
    padding-bottom: 20px;
    padding-top: 20px;
    z-index: 4;
}
nav p{
    color: white;
    font-weight: lighter;
    font-size: 1.5vh;
}
.desplegable {
    display: flex;
    position: relative;
}
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    z-index: 1;
}
.desplegable:hover .submenu {
    display: block;
}
.submenu p {
    color:#000000;
    padding: 5px 0;
    margin: 0; 
}
.desplegable > p {
    cursor: pointer;
}

/*parte de contenedor de noticias */
.tags{
    display: flex;
    flex-basis: 100%;
    align-content: center;
    align-items: center;
}
.asd{
    font-weight: bolder;
    color: #000000;
}
.tag {
    border: 1px solid black;
    border-radius: 5px; 
    padding: 5px 10px;    
    margin: 5px;            
    display: inline-block;  
}
.tag p{
    font-size: small;
}
.noticias{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}
.cont_noticias{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 80%;
    height: auto;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
    color: #6b5111;
}
.noticia{
    display: flex;
    height: 320px;
    flex-basis: 1140px;
}
.contenido{
    display: flex;
    flex-basis: 100%;
}
.cuerpo{
    display: flex;
    flex-wrap: wrap;
    padding: 4%;
}
.cuerpo h2{
    margin: 0%;
    width: 100%;
    height: 20%;  
    font-weight: 100;  
}
.img_noticia{
    background-color: #ffffff;
    flex-basis: 40%;
}
.img_noticia img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.articulo{
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
    flex-basis: 100%;
}
.linea{
    margin-top: 20px;
    margin-bottom: 20px;
    flex-basis: 100%;
    background-color: #000000;
    height: 1px;
}
/*PARTE DE CONTENEDOR 7*/

.contenedor_7{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    background-color: rgb(255, 255, 255);
    height: auto;
}
.caja7_2{
    display: flex;
    flex-basis: 100%;
    flex-shrink: 0;
    background-color:  #F7F8FA;
    height: auto;
}
.c721{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-basis: 100%;
    background-color: #F7F8FA;;
    padding-top: 10VH;
    padding-bottom: 10VH;
}
.sub721{
    padding-left: 5%;
    background-color:  #F7F8FA;;
    flex-basis: 600px;
}
.cont71 h4{
    margin-bottom: 10px;
    flex-basis: 100%;
    font-size: x-large;
}
.boton71{
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: #ffffff;
}
.boton71 p{
    width: 370px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(0, 0, 0);
}
.iconos{
    display: flex;
    justify-content: space-between;
}
.icon{
    margin-right: 20px;
}
.sub722{
    background-color:  #F7F8FA;;
    flex-basis: 420px;
}
.cont72 h5{
    margin-bottom: 10px;
    flex-basis: 100%;
    font-size: large;
}
.cont72{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 20px;
}
.iconos{
    display: flex;
    justify-content: space-between;
}
.icon{
    margin-right: 20px;
}


footer{
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    background-color: rgb(22, 22, 22);

    height: auto;
}
.foot{
    color: #ffffff;
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    height: auto;
    padding-bottom: 2%;
    padding-top: 2%;

}
.contf{
    display: flex;
    justify-content: space-evenly;
    height: auto;
    flex-basis: 75%;
}
.links{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(22, 22, 22);
    height: 508px;
    flex-basis: 270px;
    align-content: flex-start;
}
.links p{
    width: 100%;
    font-size: 12px;
    margin-bottom: 7px;
}
.links h6{
    width: 100%;
    margin-bottom: 8%;
    font-size: 1em;
}
.footerF{
    display: flex;
    flex-basis: 100%;
    background-color: #292828;
    justify-content: center;
    align-items: center;
    height: 20vh;
}
.imgf{
    margin-bottom: 10px;
    flex-basis: 100%;
}
.imgf img{
    width: 50%;
    height: 90%;
    object-fit: contain;
    display: block;
}

@media screen and (max-width: 1025px) {
    .h1 {
        justify-content: flex-start;
        position: absolute;
        top: 55vh;
        left: 50vw; 
        width: 100%;
    }
    h1{
        font-size: 4vh;
        height: 10vh;
    }
    .sub{
        height: auto;
    }
    .subh1{
        width: 92%;
        padding: 1%;
    }
    .sub p{
        font-size: 1.5vh;
    }
    .sub721{
        justify-content: flex-start;
        flex-basis: 100vw;
        padding-right: 2%;
        padding-left: 2%;
    }
    .boton71 p{
        width: 100%;
    }
    .sub722{
        justify-content: center;
        flex-basis: 100%;
    }
    .cont72{
        text-align: center;
        justify-content: center;
    }
    .foot{
        flex-basis: 100%;
    }
    .contf{
        flex-wrap: wrap;
    }
    .links {
        flex-basis: 100vW;
        height: auto;
    }
    .links p {
        display: none;
    }
    .links.active p {
        display: block;
    }
    .links h6 {
        cursor: pointer;
        margin-bottom: 2%;
    }
    .imgf img{
        width: 20%;
        height: 20%;
    }
}