body{
    margin: 0;
}
.a{
    display: flex;
    background-color: black;
    height: 5vh;
}

header{
    display: flex;
    background-color: black;
    flex-basis: 100vw;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
.img_logo{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

nav{
    display: flex;
    flex-basis: 100%;
    justify-content: space-evenly;
    background-color: black;
}
nav p{
    display: flex;
    color: white;
    font-weight: bolder;
}

.head{
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    height:auto;
    object-fit: fill;
    position: relative;
}
.head img{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}
.h1{
    background-color: rgb(0, 255, 0);
    position: absolute;
    
}
.contenedor_1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: 100%;
    background-color: rgb(255, 255, 255);
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
}

.caja1_1{
    display: flex;
    width: 30vw;
    background-color: rgb(23, 196, 34);
    height: 50%;
}
.caja1_2{
    display: flex;
    width: 30vw;
    background-color: rgb(131, 209, 29);
    height: 50%;
}

.caja1_3{
    display: flex;
    width: 30vw;
    background-color: rgb(209, 29, 134);
    height: 50%;
}


.contenedor_2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-basis: 100%;
    background-color: rgb(124, 36, 36);
    align-items: center;
    height: 40vh;
}
.caja2_1{
    display: flex;
    width: 100px;
    background-color: rgb(23, 196, 34);
    height: 100px;
}
.caja2_2{
    display: flex;
    width: 100px;
    background-color: rgb(131, 209, 29);
    height: 100px;
}

.caja2_3{
    display: flex;
    width: 100px;
    background-color: rgb(209, 29, 134);
    height: 100px;
}

.caja2_4{
    display: flex;
    width: 100px;
    background-color: rgb(23, 196, 34);
    height: 100px;
}
.caja2_5{
    display: flex;
    width: 100px;
    background-color: rgb(131, 209, 29);
    height: 100px;
}

.caja2_6{
    display: flex;
    width: 100px;
    background-color: rgb(209, 29, 134);
    height: 100px;
}

.contenedor_3{
    display: flex;
    flex-basis: 100%;
    background-color: rgb(19, 29, 121);
    height: 400vh;
}
/*Media querys*/
/*Ajustar tamaño imagen del logo*/
@media screen and (max-width: 514px) {
    .img_logo img {
        width: 70%;
    }

}